@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,900');

* {
    margin: 0;
    padding-top: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    background-image: url("assets/fondo.jpg");
    background-color: #fff;
}

.header {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(25, 20, 20, .4);
    padding: 20px 0;
    margin-bottom: 30px;
}

.header > a, header > img {
    display: inline-block;
}

.header nav {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 40px;
}

.header nav form {
    display: inline-block;
}

.header nav form input[type="text"] {
    background-color: rgba(238, 224, 203, 1);
    border: none;
    padding: 3px 8px;
    width: 100px;
    margin-right: 10px;
    margin-left: 30px;
}

.header nav form input[type="submit"], header nav form button[type="submit"] {
    background-color: transparent;
    border: none;
    padding: 3px 8px;
    background-image: url("assets/lupa.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
    width: 32px;
    background-size: contain;
}

.header nav form label {
    display: none;
}

.header nav ul {
    display: inline-block;
}

.header nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
}

.header nav ul li a {
    text-decoration: none;
    color: #F3F2DC;
    font-weight: 300;
    position: relative;
    display: inline-block;
    padding: 15px 5px;
    -webkit-transition: color 0.3s; /* For Safari 3.0 to 6.0 */
    transition: color 0.3s; /* For modern browsers */

}

.header nav ul li a:after {
    content: "";
    width: 0px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 5px;
    bottom: 10px;
    transition: all .2s ease-in;
}

.header nav ul li a:hover:after {
    /*width: 85%;*/
}

.header nav ul li a:hover {
    color: #C0CBDE;
}

.imageReceta {
    height: "100";
    width: "100";
}

footer {
    padding: 60px 20px 40px;
    color: #333;
    background-color: #80623c;
    margin-top: 30px;
}

footer p {
    color: #fff;
}

footer img {
    margin-bottom: 15px;
}

footer p {
    margin: 5px 0px;
}

main {
    width: auto;
    display: inline-block;
    background-color: #fff;
    border-radius: 0px;
    padding: 30px 35px;
    box-sizing: border-box;
    vertical-align: top;
}

main ul {
    display: inline-block;
    margin: 5px auto;
    columns: 4;
}

main ul li {
    list-style: none;
   /* display: inline-block; */
    margin: 0 5px;
}

main ul li article {
    position: relative;
    display: inline-block;
    padding: 15px 5px;
    margin-bottom: 5px;
}

main:after {
    content:"";
    display: block;
    clear: both;
}


.grid figure{
    display: inline-block;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}
section {
    box-shadow: 3px 3px 10px #aaa;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 30px 1%;
    padding: 25px;
    background-color: #fff;
    width: 48%;
    float: left;
    max-height: 300px;
    overflow-y: auto;
}

section h2, section h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

section p {
    margin-bottom: 15px;
}

section p:last-child {
    margin-bottom: 0px;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}
/*
.item {
  position: relative;
  width: 50%;
}
*/
.image {
    display: block;
    width: 100%;
    height: auto;
  }
  /*
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(53, 56, 46);
  }
  
  .item:hover .overlay {
    opacity: 0.7;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
*/

@media (max-width: 480px) {

    .header nav {
        width: 200px;
    }
    
    .header nav #hamb {
        position: absolute;
        top: -40px;
        right: 20px;
        color: #fff;
        text-decoration: none;
    }

    .header nav ul {
        padding: 0;
    }

}