@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,900');



/*
    GENERALES
*/
* {
    margin: 0;
    padding-top: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    height: 100%;
    background-image: url("assets/fondo.jpg");
    background-color: rgba(165, 127, 88, 1);
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

#contenedor{
    min-height: 100%;
    position: relative;
}

/*
    ENCABEZADO
*/

#titulo1 {
    margin: 0%;
    font: normal normal bold 15px/1.4em raleway,sans-serif;
    font-size:29px; 
    line-height:1em; 
    text-align:justify;
}

#titulo1 a, #titulo2 a {
    text-decoration: none;
    color:rgba(238, 224, 203, 1);
}


#titulo2 {
    margin: 0%;
    font: normal normal normal 15px/1.4em raleway,sans-serif;
    font-size:29px; 
    text-align:justify;
}
.header {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(25, 20, 20, .5);
    padding: 20px 0;
    margin-bottom: 30px;
}

.header nav {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 40px;
}

.header nav form {
    display: inline-block;
}

.header nav form input[type="text"] {
    background-color: rgba(238, 224, 203, 1);
    border: none;
    padding: 3px 8px;
    width: 100px;
    margin-right: 10px;
    margin-left: 30px;
}

.header nav form input[type="submit"], header nav form button[type="submit"] {
    background-color: transparent;
    border: none;
    padding: 3px 8px;
    background-image: url("assets/lupa.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
    width: 32px;
    background-size: contain;
}

.header nav form label {
    display: none;
}

.header nav ul {
    display: inline-block;
}

.header nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 5px;
}

.header nav ul li a {
    text-decoration: none;
    color: #F3F2DC;
    font-weight: 300;
    position: relative;
    display: inline-block;
    padding: 15px 5px;
    -webkit-transition: color 0.3s; /* For Safari 3.0 to 6.0 */
    transition: color 0.3s; /* For modern browsers */

}

.header nav ul li a:after {
    content: "";
    width: 0px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 5px;
    bottom: 10px;
    transition: all .2s ease-in;
}

.header nav ul li a:hover:after {
    width: 85%;
}

.header nav ul li a:hover {
    color: #C0CBDE;
}


/*
    GALERIA
*/

.buscador {
    margin-bottom: 15px;
	color: #000;
}

.buscador input[type="submit"]{
    background-color: transparent;
    border: none;
    padding: 3px 8px;
    background-image: url("assets/lupa.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
    width: 32px;
    background-size: contain;
}

.grid {
    text-align: center;
}
.grid figure{
    display: inline-block;
}

.imageReceta {
    display: block;
    width: 100%;
    height: auto;
    transition: .2s; /* Animation */
    overflow: hidden;
}

.imgBox {
    display: inline-block;
    overflow: hidden;
}

.imgBox:hover img{
    transform: scale(1.1); 
  }


/*
    FOOTER
*/

footer {
    padding: 60px 20px 40px;
    color: #fff;
    background-color: #4D4646;
}

footer p {
    color: #fff;
}

footer img {
    margin-bottom: 15px;
}

footer p {
    margin: 5px 0px;
}




/*
    RESPONSIVE
*/


.mobile {
    display: none;
}

.desktop {
    display: block;
}




@media (max-width: 480px) {

    .header nav {
        width: 200px;
    }
    
    .header nav #hamb {
        position: absolute;
        top: -40px;
        right: 20px;
        color: #fff;
        text-decoration: none;
    }

    .header nav ul {
        padding: 0;
    }

}