@media (max-width: 480px) {

    .desktop {
        display: none;
    }

    footer {
        text-align: center;
        font-size: 17px;
    }
    
    .header>.wrapper>a.mobile {
        display: block;
        margin: 0 auto;
        width: 87px;
    }

    .header nav {
        z-index: 1;
    }

    .header nav form {
        display: none;
    }

    .header nav ul {
        background-color: rgba(25, 20, 20, .4);
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        padding-left: 20px;
        padding-top: 40px;
    }

    .header nav ul li {
        display: block;
        text-align: center;
    }

    main {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .mobile {
        display: block;
    }


}