@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,900');



/*
    GENERALES
*/
* {
    margin: 0;
    padding-top: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.wrapper {
    max-width: 960px!important;
    margin: 0 auto;
    position: relative;
}

#contenedor{
    min-height: 100%;
    position: relative;
}

/*
    ENCABEZADO
*/

#mainNav {
    background-color: rgba(25, 20, 20, .8);
}

#titulo1 {
    margin: 0%;
    font: normal normal bold 15px/1.4em raleway,sans-serif;
    font-size:29px; 
    line-height:1em; 
    text-align:justify;
}

#titulo1 a, #titulo2 a {
    text-decoration: none;
    color:rgba(238, 224, 203, 1);
}


#titulo2 {
    margin: 0%;
    font: normal normal normal 15px/1.4em raleway,sans-serif;
    font-size:29px; 
    text-align:justify;
}


.slogan p{
    font-size: 5rem;
    line-height: 3rem;
    margin-bottom: 0px;
}

#navbarResponsive ul li a {
    color: #F3F2DC;
    position: relative;
    -webkit-transition: color 0.3s; /* For Safari 3.0 to 6.0 */
    transition: color 0.3s; /* For modern browsers */
}


#navbarResponsive ul li a:after {
    content: "";
    width: 0px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 5px;
    bottom: 5px;
    transition: all .2s ease-in;
}

#navbarResponsive ul li a:hover:after {
    width: 85%;
}

#navbarResponsive ul li a:hover {
    color: #C0CBDE;
}

.selected {
    font-weight: bold;
    color:#C0CBDE!important;
}


#toTop {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #428194;
    cursor: pointer;
    padding: 5px;
    border-radius: 100%;
    transition: opacity 0.33s ease-in-out, visibility 0.33s ease-in;
}

#toTop a {
    text-decoration: none;
    color: white;
}

#toTop ion-icon {
    font-size: 32px;
}

.is-visible {
	visibility: visible!important;
	opacity: 1!important;
}

/*
    GALERIA
*/

.buscador {
    margin-bottom: 3%;
    margin-left: 14%!important;
    margin-right: 14%!important;
    color: #000;
}

.buscador h1 {
    font-size: 4rem;
}

.buscador input {
	outline: none;
}

.buscador input[type='search']{
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
	background: #fff url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 10px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
	width: 15px;
	color: transparent;
	cursor: pointer;
}
.buscador input::-webkit-search-decoration,
.buscador input::-webkit-search-cancel-button {
	display: none; 
}

.buscador input[type=search]:focus {
	width: 200px;
	background-color: #fff;
    border-color: #66CC75;
    color: black;
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
	padding-left: 32px;
	cursor: auto;
}

.buscador input:-moz-placeholder {
	color: transparent;
}
.buscador input::-webkit-input-placeholder {
	color: transparent;
}

.grid {
    text-align: center;
}
.grid figure{
    display: inline-block;
}

.imageReceta {
    display: block;
    width: 100%;
    height: auto;
    transition: .2s;
    overflow: hidden;
}

.imgBox {
    display: inline-block;
    overflow: hidden;
}

.imgBox:hover img{
    transform: scale(1.1); 
}

.recipe-detail{
}

/*
    FOOTER
*/

footer {
    padding: 60px 20px 40px;
    color: #fff;
    background-color: #4D4646;
}

footer p {
    color: #fff;
}

footer img {
    margin-bottom: 15px;
}

footer p {
    margin: 5px 0px;
}




/*
    RESPONSIVE
*/


.mobile {
    display: none;
}

.desktop {
    display: block;
}




@media (max-width: 480px) {



}